.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
}

.users {
  display: flex;
  gap: 1.5rem;

  p {
    font-family: "Inconsolata", monospace;
  }
}
